.container {
  display: flex;
  margin: 60px;
  width: 610px ;
  min-height: 390px;
  @extend .paper;
}

.container-columns { box-sizing: border-box }

.container-form {
  padding: 27px 0 0 55px;
  width: 455px;
  @extend .container-columns;
}

.container-receipts {
  padding: 6.2em 0 0 3.2em;
  width: 286px;
  background: #f6f8f9; 
  font-style: italic;
  @extend .container-columns;
  .title-container-receipts {
    padding-bottom: 0.4em;
    width: 11em;
    text-transform: uppercase;
    font-size: 1.2em;
    color: $blue;
    border-bottom: 1px solid $blue_25;
  }
}
.simulation-form { width: 20em }