// Colors
$graphite: #5a5a5a; 
$graphite_25: rgba($graphite, 0.25); 
$graphite_45: rgba($graphite, 0.45); 
$blue: #356AB3;
$blue_25: rgba($blue, 0.25);
$blue_45: rgba($blue, 0.45);
$light_blue: #5292e9;
$light_gray: #F4F6F9;
$back: #000;
$white: #fff
